<div class="text-center well">
  <h1>Welcome to the Hairy Canary</h1>

</div>

<div class="row">
  <div class="col-md-3">
    <h2>Add a Stylist</h2>
    <form action = "/stylists" class="control-group" method="post">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" required>
      </div>
      <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" id="last_name" required>
      </div>
      <button class="btn btn-info" type="submit">Add a stylist</button>
    </form>
  </div>

  <div class="col-md-5">
    <% if @stylists == nil %>
    <% else %>
    <h2>All Current Stylists</h2>
      <% @stylists.each() do |stylist| %>
      <form action="stylist/delete/<%=stylist.id%>" method="post">
        <h3><%= stylist.name %> </h3><br>
        <a class="btn btn-primary btn-sm" href="/stylist/<%=stylist.id%>/client/new">Add a Client For the Stylist</a><br>
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn-danger btn btn-sm">Delete</button>
      </form>
      <a class="btn btn-warning btn-sm" href="/stylist/<%=stylist.id%>/edit">Update</a>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if @clients == nil %>
    <% else %>
    <h2>All Current Clients</h2>
    <% @clients.each() do |client| %>
      <h3><%=client.name%></h3>
        <a class="btn btn-warning btn-sm" href="/client/<%= client.id %>/edit">Update or Delete</a>
      <% end %>
    <% end %>
  </div>
</div>
